/*@import url('../about/style.css');*/

aside {
    margin: 0 0.5rem 0 0;
    margin-bottom: 0.5rem;
    overflow-x: auto; 
}

span {
    padding: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

small {
    display: block;
    margin-left: 4vh;
    font-size: .9rem;
}


.midias  {
    justify-content: center;
    align-items: center;

    
    /*display: flex;
    */
}

.midias a {
    display: inline-flex; 
    width: 50px;
    height: 50px;
    background: rgb(143, 158, 162);
    margin: 2vh;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 1.5rem;
}

.midias a:hover {
    background: #708ca7a6;
}

.midias i[class~=fa-instagram] {
    color: #b20695;
    padding: 0.3rem;
    transition: 0.4s all;
}

.midias i[class~=fa-github] {
    color: #080508;
    padding: 0.2rem;
    transition: 0.4s all;

}


.midias a:hover > i {
    transform: scale(1.5) rotate(15deg);
}



  
