/*@charset "UTF-8";
@import url('/normalize.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    -moz-osx-font-smoothing:grayscale;*/
    /*background-color: lightgrey;*/
    /*-ms-flex-direction:column;
    -webkit-box-direction:normal;
    -webkit-box-orient:vertical;
    -webkit-font-smoothing:antialiased;
    background:#f1f1e9;
    display:flex;
    flex-direction:column;
    font-weight: 300;
    min-height:100vh;
    padding:1%;
    
}

header {
    background-color: rgba(186, 153, 109, 0.504);
}

header > h1 {
    color: rgba(163, 161, 36, 0.807);
    padding: 20px;
    text-align: center;
}

span#burguer {
    background-color: rgb(39, 62, 62);
    color: rgb(255, 255, 255);
    box-shadow:0 3px 15px rgba(35, 7, 7, 0.995);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color:rgb(39, 62, 62);;
    color: rgb(209, 232, 232);
}
menu {
    display: none;
}

menu::after {
	display: block;
	content: '';
	clear: both;
}

menu> ul {
    list-style: none;
}

menu> ul> li> a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(255, 254, 254, 0.105);
    color: rgb(18, 8, 8);
    border-top: 2px solid rgb(216, 100, 123);
}

menu> ul> li> a:hover {
    background-color: rgba(244, 235, 235, 0.594);
    transition: .2s;
}

#wrap>main {
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}


#wrap>main article, #wrap>main aside{
    background-color: rgba(82, 74, 170, 0.407);
    border-radius: .5rem;
    overflow: auto;
    margin: 0 .5rem;
    padding: 0 1rem;
}

#wrap>main aside{
    margin: .5rem;
}

#wrap>main aside h4  {
    display: flex;
    margin: auto;
    padding: 10px;
}

#wrap>main aside nav a {
    text-decoration: none;
    display: flex;
    margin: .5rem;
    margin-top: 0; 
}

main> aside nav a:hover {
    background-color: rgba(223, 217, 217, 0.307);
    box-shadow: #d9b3ff;
    transition: .2s;
}



@media screen and (min-width: 768px) {
    #wrap>main {
        flex-direction: row;
    }

    #wrap>main article {
        flex-grow: 1;
        margin-bottom: .5rem;
    }

    #wrap>main aside {
        margin: 0 .5rem 0 0;
        min-width: 220px;
        max-width: 220px;
        margin-bottom: .5rem;
    }
}

footer {
    border-radius: 10px;
    margin: .5rem;
    margin-top: 0;
    background: linear-gradient(#9933ff, #d9b3ff );
}

.ftop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #f1f1e9;
}*/
