
h4{
    display: flex;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-bottom: -25px;
}

p {
    margin-top: -15px;
    text-align: left;
}

#redes nav a {
  display: block;
  padding: .3rem;
  font-size: 0.9rem;
  border: 1px solid rgba(28, 133, 219, 0.884);
  border-radius: 50px 25px;
  color: rgb(29, 24, 23);
}

#redes nav a span {
    display: inline-block;
    margin-left: .4rem;
}

#redes nav a:hover {
    color: rgb(11, 142, 92);
    text-decoration: none;
}

#redes nav a:hover > i {
    transform: scale(1.5) rotate(15deg);
  }